# Cache files
*.pyc
*~
__pycache__

# Virtual environment
ve

# Local development settings
local_settings.py

# File containing sensitive information such as the SECRET_KEY, database credentials etc.
secrets.py
