'''
A template for the `secret_settings.py` file

Copy the contents of this file into `secret_settings.py` and edit them there
'''

# Secret key
SECRET_KEY = 'your Django project's SECRET_KEY'

# Database credentials
DB_NAME = 'name of the database'
DB_USER = 'name of database user'
DB_PASSWORD = 'password of database user'
