{% extends 'main/base.html' %}

{% block content %}
    {% if profile is not None %}
        <div class="content-container">
            <div class="mdl-card mdl-shadow--2dp">
                <div class="mdl-card__title mdl-color--primary">
                    <h2 class="mdl-card__title-text mdl-color-text--white">
                        {{ profile.name }}
                    </h2>
                </div>
                {% if profile_type == 'student' %}
                    <div class="mdl-card__supporting-text">
                        <ul class="mdl-list">
                            <li class="mdl-list__item mdl-list__item--two-line">
                                <span class="mdl-list__item-primary-content">
                                    <span>Student ID</span>
                                    <span class="mdl-list__item-sub-title">{{ profile.student_id }}</span>
                                </span>
                            </li>
                            <li class="mdl-list__item mdl-list__item--two-line">
                                <span class="mdl-list__item-primary-content">
                                    <span>Roll no</span>
                                    <span class="mdl-list__item-sub-title">{{ profile.roll_no }}</span>
                                </span>
                            </li>
                            <li class="mdl-list__item mdl-list__item--two-line">
                                <span class="mdl-list__item-primary-content">
                                    <span>Department</span>
                                    <span class="mdl-list__item-sub-title">{{ dept_name }}</span>
                                </span>
                            </li>
                            <li class="mdl-list__item mdl-list__item--two-line">
                                <span class="mdl-list__item-primary-content">
                                    <span>Semester</span>
                                    <span class="mdl-list__item-sub-title">{{ profile.semester }}</span>
                                </span>
                            </li>
                            <li class="mdl-list__item mdl-list__item--two-line">
                                <span class="mdl-list__item-primary-content">
                                    <span>Date of birth</span>
                                    <span class="mdl-list__item-sub-title">{{ profile.dob }}</span>
                                </span>
                            </li>
                        </ul>
                    </div>
                {% elif profile_type == 'teacher' %}
                    <div class="mdl-card__supporting-text">
                        <ul class="mdl-list">
                            <li class="mdl-list__item mdl-list__item--two-line">
                                <span class="mdl-list__item-primary-content">
                                    <span>Teacher ID</span>
                                    <span class="mdl-list__item-sub-title">{{ profile.teacher_id }}</span>
                                </span>
                            </li>
                            <li class="mdl-list__item mdl-list__item--two-line">
                                <span class="mdl-list__item-primary-content">
                                    <span>Department</span>
                                    <span class="mdl-list__item-sub-title">{{ dept_name }}</span>
                                </span>
                            </li>
                            <li class="mdl-list__item mdl-list__item--two-line">
                                <span class="mdl-list__item-primary-content">
                                    <span>Post</span>
                                    <span class="mdl-list__item-sub-title">{{ profile.post }}</span>
                                </span>
                            </li>
                            <li class="mdl-list__item mdl-list__item--two-line">
                                <span class="mdl-list__item-primary-content">
                                    <span>Teaching since</span>
                                    <span class="mdl-list__item-sub-title">{{ profile.teaching_since }}</span>
                                </span>
                            </li>
                        </ul>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endblock %}
