{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="Examination Management System">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

        <title>{{ page_title }} - EMS</title>

        <!-- Add to homescreen for Chrome on Android -->
        <meta name="mobile-web-app-capable" content="yes">
        <link rel="icon" sizes="192x192" href="{% static 'images/android-desktop.png' %}">

        <!-- Add to homescreen for Safari on iOS -->
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="apple-mobile-web-app-title" content="Material Design Lite">
        <link rel="apple-touch-icon-precomposed" href="{% static 'images/ios-desktop.png' %}">

        <!-- Tile icon for Win8 (120x120 + tile color) -->
        <meta name="msapplication-TileImage" content="images/ios-desktop.png">
        <meta name="msapplication-TileColor" content="#263238">

        <link rel="shortcut icon" href="{% static 'images/favicon.png' %}">

        <!-- Fonts, icons and styles -->
        <link rel="stylesheet" href="{% static 'fonts/material-icons.css' %}">
        <link rel="stylesheet" href="{% static 'css/material.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <link rel="stylesheet" href="https://cdn.rawgit.com/CreativeIT/getmdl-select/master/getmdl-select.min.css">
    </head>

    <body>
        <div class="layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
        <!-- Page header -->
            <header class="header mdl-layout__header mdl-color--blue-grey-100 mdl-color-text--blue-grey-900">
                <div class="mdl-layout__header-row">
                <!-- Page title -->
                    <span class="mdl-layout-title">{{ page_title }}</span>
                <!-- /Page title -->

                    <div class="mdl-layout-spacer"></div>

                <!-- Search bar --
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
                        <label class="mdl-button mdl-js-button mdl-button--icon" for="search">
                            <i class="material-icons">search</i>
                        </label>
                        <div class="mdl-textfield__expandable-holder">
                            <input class="mdl-textfield__input" type="text" id="search">
                            <label class="mdl-textfield__label" for="search">Search</label>
                        </div>
                    </div>
                <!-- /Search bar -->
                </div>
            </header>
        <!-- /Page header -->

        <!-- Nav drawer -->
            <div class="drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-100">
            <!-- Drawer header -->
                <header class="drawer-header">
                <!-- User avatar -->
                {% if request.user.is_authenticated %}
                    <img src="{% static 'images/user.png' %}" class="avatar">
                {% endif %}
                <!-- /User avatar -->

                <!-- User actions -->
                    <div class="avatar-dropdown">
                    <!-- User name -->
                    {% if request.user.is_authenticated %}
                        <span>{{ request.user.first_name }}</span>
                    {% else %}
                        <div class="mdl-layout-spacer"></div>

                        <span>
                            <button id="login" class="mdl-button mdl-js-button mdl-js-ripple-effect \
                                mdl-button--raised mdl-button--colored">
                                Login
                            </button>
                            <script>
                                document.getElementById("login").onclick = function () {
                                    location.href = "/login";
                                };
                            </script>
                        </span>
                    {% endif %}
                    <!-- /User name -->

                        <div class="mdl-layout-spacer"></div>

                    <!-- Action menu -->
                    {% if request.user.is_authenticated %}
                        <button id="accbtn" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
                            <i class="material-icons" role="presentation">arrow_drop_down</i>
                        </button>
                        <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="accbtn">
                            <li id="logout" class="mdl-menu__item">
                                <i class="material-icons">reply</i>
                                Log out
                            </li>
                            <script>
                                document.getElementById("logout").onclick = function () {
                                    location.href = "/logout";
                                };
                            </script>
                        </ul>
                    {% endif %}
                    <!-- /Action menu -->
                    </div>
                <!-- /User actions -->
                </header>
            <!-- /Drawer header -->

            <!-- Drawer navigation -->
                <nav class="navigation mdl-navigation mdl-color--blue-grey-800">
                    <a class="mdl-navigation__link mdl-color-text--blue-grey-50" href="/details">
                        <i class="mdl-color-text--accent material-icons" role="presentation">people</i>
                        Details
                    </a>

                    <a class="mdl-navigation__link mdl-color-text--blue-grey-50" href="/attendance">
                        <i class="mdl-color-text--accent material-icons" role="presentation">assignment_turned_in</i>
                        Attendance
                    </a>

                    <a class="mdl-navigation__link mdl-color-text--blue-grey-50" href="/results">
                        <i class="mdl-color-text--accent material-icons" role="presentation">equalizer</i>
                        Results
                    </a>

                    <a class="mdl-navigation__link mdl-color-text--blue-grey-50" href="/schedule">
                        <i class="mdl-color-text--accent material-icons" role="presentation">date_range</i>
                        Schedule
                    </a>

                    <a class="mdl-navigation__link mdl-color-text--blue-grey-50" href="/notifications">
                        <i class="mdl-color-text--accent material-icons" role="presentation">comment</i>
                        Notifications
                    </a>
                </nav>
            <!-- /Drawer navigation -->
            </div>
        <!-- /Nav drawer -->

        <!-- Page content -->
            <main class="mdl-layout__content mdl-color--grey-100">
                <div class="mdl-grid content">
                {% block content %}
                {% endblock %}
                </div>
            </main>
        <!-- /Page content -->
        </div>

    <!-- Scripts -->
        <script src="{% static 'js/material.min.js' %}"></script>
        <script defer src="https://cdn.rawgit.com/CreativeIT/getmdl-select/master/getmdl-select.min.js"></script>
    <!-- /Scripts -->
    </body>
</html>
