html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}
::selection {
    background: rgba(103, 58, 183, 0.25);
}
::-moz-selection {
    background: rgba(103, 58, 183, 0.25);
}

.radio-group {
    margin: 24px auto;
}

.avatar {
  width: 48px;
  height: 48px;
  border-radius: 24px;
}
.layout .header .mdl-textfield {
  padding: 0px;
  margin-top: 41px;
}
.mdl-textfield--expandable .mdl-button--icon {
    top: auto;
}
.layout .header .mdl-textfield .mdl-textfield__expandable-holder {
  bottom: 19px;
}
.layout .mdl-layout__header .mdl-layout__drawer-button {
  color: rgba(0, 0, 0, 0.54);
}
.mdl-layout__drawer .avatar {
  margin-bottom: 16px;
}
.drawer {
  border: none;
}
/* iOS Safari specific workaround */
.drawer .mdl-menu__container {
  z-index: -1;
}
.drawer .navigation {
  z-index: -2;
}
/* END iOS Safari specific workaround */
.drawer .mdl-menu .mdl-menu__item {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.drawer .mdl-menu .mdl-menu__item .material-icons {
    margin-right: 16px;
    color: #455A64;
}
.drawer-header {
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 16px;
  height: 151px;
}
.avatar-dropdown {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.navigation {
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.layout .navigation .mdl-navigation__link {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    flex-direction: row;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    align-items: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    font-size: 16px;
    padding: 16px 32px;
    transition: background-color 0.2s ease-in-out;
}
.layout .navigation .mdl-navigation__link:hover {
  background-color: #455A64;
}
.navigation .mdl-navigation__link .material-icons {
  font-size: 24px;
  margin-right: 32px;
}

.content {
  max-width: 1080px;
}
p {
    font-size: 16px;
}

.cards {
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
              -ms-grid-row-align: flex-start;
          align-items: flex-start;
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start;
}
.cards .separator {
  height: 32px;
}
.cards .mdl-card__title.mdl-card__title {
  color: white;
  font-size: 24px;
  font-weight: 400;
}
.cards ul {
  padding: 0;
}
.cards h3 {
  font-size: 1em;
}
.cards .mdl-card__actions a {
  text-decoration: none;
}

.options h3 {
  margin: 0;
}
.options .mdl-checkbox__box-outline {
  border-color: rgba(255, 255, 255, 0.89);
}
.options ul {
  margin: 0;
  list-style-type: none;
}
.options li {
  margin: 4px 0;
}
.options .material-icons {
  color: rgba(255, 255, 255, 0.89);
}
.options .mdl-card__actions {
  height: 64px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  box-sizing: border-box;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
